
body {
    background-image: url("../images/light_grey.png");
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    line-height: 25px;
    text-decoration-style: none;
    width: 100vw;
    height: 100vh;
}

header { 
    background: white;
}

#header {
    color: #ffffff;
    border-color: #cccccc;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100vw;
    height: 50px;
    border-bottom: 2px solid #cccccc;
    padding-left: 70px;
    padding-right: 70x;
    box-sizing: border-box;
}

#name   {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    line-height: 30px;
    float: left;
    background: #4aaaa5;
    height: 100%;
    width: 300px;
}


nav    {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    height: 28px;
    float: right;
}

nav a {
    color: #777777;
    line-height: 50px;
    margin-left: 14px;
    display: inline-block;
    border-left: 1px solid;
    padding-left: 70px;
}

h1   {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: #4aaaa5;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 50px;
    border-bottom: 3px solid #dddddd;
    padding-bottom: 20px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bolder;
    color: #4aaaa5;
    margin-bottom: 20px;
}

h3 { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font weight: bolder;
    color: #4aaaa5;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.container {
    width: 100%;
    max-width: 960px;
    padding: 0px;
    margin: 0 auto;
    clear: both;
    background: white;
    border: 1px solid gray;
    margin: 20px auto;
    padding: 7px;
    /*  */
    height: 80%;
}

.home-container {
    width: 100%;
    max-width: 960px;
    padding: 0px;
    margin: 0 auto;
    clear: both;
    /* background: white; */
    /* border: 1px solid gray; */
    margin: 20px auto;
    padding: 7px;
    /*  */
    height: 80%;
}

.work-container {
    width: 100%;
    max-width: 960px;
    padding: 0px;
    margin: 0 auto;
    clear: both;
    background: white;
    border: 1px solid gray;
    margin: 20px auto;
    padding: 7px;
    /*  */
    height: 100%;
    position: relative;
    padding: 20px;
}

.about {
    background: #ffffff;
    /* height: ; */
    width: 100%;
    max-width: 680px; 
    border: 1px solid #dddddd;  
    float: left;
    margin: 40px;
    padding: 30px;
}

.image {
    width: 100%;
    height: 100%;

}

.cat {
    max-width: 680px;
    border: 1px solid #dddddd;  
    float: left;
    margin-top: 10px; 
    margin-right: 25px;
    padding: 30px; 
}

.main {
    position: relative;
}

footer {
    font-size: 12px;
    text-align: center;
    background-color: #666666;
    /* color: #ffffff; */
    border-top: 8px solid #4aaaa5;
    padding: 30px 0;
    clear: both; 
}

#image {
    width: 200px;
    height: auto;
    float left;
}

.work {
    width: 270px;
    /* overflow: auto; */
    position: relative;
    float: left;
    margin: 20px;
    box-sizing: border-box;
    height: 200px;
}

.work h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;    
    background: #4aaaa5;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0px;
    border-bottom: 0;
    bottom: 20px;
    width: 100%;
    line-height: 30px;
    position: absolute;
}

#contact ul {
    margin-bottom: 20px;
}

#contact li {
    margin-bottom: 10px;
}

label,
input ,
input,
textarea   {
    display: block;
    width: 98%;
}

#submit {
    width: 180px;
    background-color: #4aaaa5;
    color: white;
    margin: 10px auto;
}

